body{
    background-color: #cce6ff;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}
header{
    background-color: #0d6efd;
    position: absolute;
    width: 100%;
    height: 45px;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    padding:2px 1rem 0 1rem;
}
img{
 
    height:40px;
}
.box{
    display: flex;
}
.switch-title{
    font-family: arial;
    font-weight: bold;
    color: white;
    font-size: x-small;
    padding: 12px 15px 0 0;
    text-transform: uppercase;
}

.switch{
    margin-top:1px;
    height:37px;
    width:68px;
    border-radius: 50px;
    background-color: #2196f3;
    
   
}
.switch-circle{
    margin: 4px;
    height: 30px;
    width: 30px;
    background-color: #cce6ff;
    border-radius: 50px;
    float: right;
    color:transparent;
    cursor: pointer;
}


.questionGenerator{
    height:100vh;
    max-height:700px;
    width:100%;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    /* background-color: red; */
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn , .btn-primary{
    padding: 0 10px;
    /* margin: -0.5rem 0 0 0.5rem; */
}
.btn-generate-div{
    width: 100%;
    text-align: center;
}
.question-container{
    display: none;
    margin-top:2rem;
    width: 100%;
    text-align: center;
}
.answer-container{
    display: none;
    margin-top:2rem;
    width: 100%;
    text-align: center;
}
footer{
    width: 100%;
    background-color: #0d6efd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: arial;
    font-size: small;
    position: absolute;
    bottom: 0;
    
}
@media (max-width: 500px){
    .container{
        width: 300px;
        
    }
}