:root {
    --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    --backgroundColor: #f44336;
    --white: white;
    --font12to14: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
}

body{
    background-color: var(--backgroundColor);
}
h1 {
    font-family: var(--font);
    text-align: center;
}
.msg{
    text-align: center;
    color: rgba(255, 0, 0, 0.744);
}
.login{
    height:100vh; 
    display: grid;
    place-items: center;
}
.login-bg{
    height:100%;
    width: 100%;
    max-width: 400px;
    max-height: 450px;
    padding:0;
    background-color: var(--white);
    border-radius: 5px;
    display: grid;
    place-items: center;
    
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.58);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.58);

}
    
.login-inputs{
    padding:5px;
    width: 100%;
}
.login-inputs label{
    font-family: var(--font);
    font-size: var(--font12to14);
}

.login-inputs input{
    font-family: var(--font);
    font-size: var(--font12to14);
    padding: 8px;
    margin-top: 0.3rem;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #00000073;
    
}

button{
    background-color: var(--backgroundColor);
    color: var(--white);
    border: 1px solid #00000073;
    border-radius: 5px;
    float: right;
    margin: 1rem 0.3rem 0 0;
    width: 100px;
    height: 30px;
}